<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Colour converter from Spring Boot -->
    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <!-- Production — structured JSON with MDC fields -->
    <springProfile name="!local">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>requestId</includeMdcKeyName>
                <includeMdcKeyName>cardId</includeMdcKeyName>
                <includeMdcKeyName>transactionId</includeMdcKeyName>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

    <!-- Local dev — coloured console output -->
    <springProfile name="local">
        <appender name="CONSOLE_COLOUR" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %clr(%-5level){DEBUG->blue, INFO->green, WARN->yellow, ERROR->red}
                    [%15.15thread] %clr(%40.40logger{40}){cyan} [%X{requestId}] : %msg%n%wex
                </pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE_COLOUR"/>
        </root>
        <logger name="com.nium.cardplatform" level="DEBUG"/>
    </springProfile>

</configuration>